on:
  workflow_dispatch:
  push:
    tags:
      - '*'

name: Publish

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    name: Publish
    runs-on: windows-latest
    steps:
      - name: Setup environments
        id: vars
        run: |
          git config --global core.symlinks true
          git config --global core.autocrlf false
          echo "dotnet_workload_version=$(dotnet workload --version)" >> $env:GITHUB_OUTPUT
          echo "program_data=$env:ProgramData" >> $env:GITHUB_OUTPUT
      - uses: olegtarasov/get-tag@v2-release
        id: tag_name
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.305'
      - name: Setup .NET workloads
        run: |
          dotnet workload install android ios maccatalyst macos maui wasm-tools-net8
          Invoke-RestMethod 'https://raw.githubusercontent.com/Samsung/Tizen.NET/main/workload/scripts/workload-install.ps1' | Invoke-Expression
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64
      - name: Setup Java
        uses: actions/setup-java@v4
        if: ${{ github.event_name != 'workflow_dispatch'}}
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build NuGet packages
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: |
          $env:VERSION_SUFFIX = "${{ steps.tag_name.outputs.tag }}" -replace "^[^\-]+-?", ""
          MSBuild -restore -t:pack -p:Configuration=Release -p:PackageOutputPath=".." -v:minimal
          dotnet nuget push FluentIcons.*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
