on:
  schedule:
    - cron: '42 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/update.yml'
      - 'Directory.Packages.props'

name: Update

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  update:
    name: Update
    runs-on: windows-latest
    steps:
      - name: Setup environments
        id: vars
        run: |
          git config --global user.email 'davidxuang@live.com'
          git config --global user.name 'Dawei Huang'
          git config --global core.symlinks true
          git config --global core.autocrlf false
          echo "dotnet_workload_version=$(dotnet workload --version)" >> $env:GITHUB_OUTPUT
          echo "program_data=$env:ProgramData" >> $env:GITHUB_OUTPUT
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.TOKEN }}
      - name: Cache NuGet packages
        id: cache-nuget
        uses: actions/cache@v4
        with:
          key: dotnet-${{ runner.os }}-${{ runner.arch }}-nuget-${{ hashFiles('**/Directory.Packages.props') }}
          path: ~/.nuget/packages
          lookup-only: true
      - name: Cache .NET workloads
        id: cache-dotnet-workloads
        uses: actions/cache@v4
        with:
          key: dotnet-${{ runner.os }}-${{ runner.arch }}-workloads-${{ steps.vars.outputs.dotnet_workload_version }}
          path: ${{ steps.vars.outputs.program_data }}\dotnet\workloads
          lookup-only: ${{ steps.cache-nuget.outputs.cache-hit == 'true' }}
      - name: Setup .NET workloads
        if: steps.cache-nuget.outputs.cache-hit != 'true' || steps.cache-dotnet-workloads.outputs.cache-hit != 'true'
        run: |
          dotnet workload install android ios maccatalyst macos maui wasm-tools
          Invoke-RestMethod 'https://raw.githubusercontent.com/Samsung/Tizen.NET/main/workload/scripts/workload-install.ps1' | Invoke-Expression
      - name: Restore NuGet packages
        if: steps.cache-nuget.outputs.cache-hit != 'true'
        run: dotnet restore
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: seagull-icons/package.json
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
          cache-dependency-path: seagull-icons/pnpm-lock.yaml
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install packages
        run: |
          pip install -r requirements.txt
          cd seagull-icons/ && pnpm install
      - name: Update
        run: ./update.ps1
      - name: Push
        uses: ad-m/github-push-action@master
        with:
          tags: true
